// _sass/custom/setup.scss
$mines_navy: #002554;
$mines_old_gold: #B3A369;
$mines_malachite_green: #cedc00;
$mines_blue: #385E9D;
$black6c:#101820;
$coolgrey9c:#75787B;
$coolgrey4c:#BBBCBC;
$coolgrey1c:#D9D9D9;
$gray6440: #EDEDED;
$orange:#FFA500;
$teal:#008080;