@font-face {
    font-family: "Open Sans";
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: block;
    src: url("fonts/open-sans-v20-latin-regular.woff2") format("woff2"),
      url("fonts/open-sans-v20-latin-regular.woff2") format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-weight: $font-weight-normal;
    font-style: italic;
    font-display: block;
    src: url("fonts/open-sans-v20-latin-italic.woff2") format("woff2"),
      url("fonts/open-sans-v20-latin-italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: block;
    src: url("fonts/open-sans-v20-latin-600.woff2") format("woff2"),
      url("fonts/open-sans-v20-latin-600.woff") format("woff");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-weight: $font-weight-bold;
    font-style: italic;
    font-display: block;
    src: url("fonts/open-sans-v20-latin-600italic.woff2") format("woff2"),
      url("fonts/open-sans-v20-latin-600italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Amiri", serif;
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: block;
    src: url("fonts/amiri-v17-latin-regular.woff2") format("woff2"),
         url("fonts/amiri-v17-latin-regular.woff")  format("woff");
  }
  
  @font-face {
    font-family: "Amiri", serif;
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: block;
    src: url("amiri-v17-latin-700.woff2") format("woff2"),
         url("amiri-v17-latin-700.woff") format("woff");
  
  @font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url("fonts/fontawesome-webfont.eot");
    src: url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
      url("fonts/fontawesome-webfont.woff2") format("woff2"),
      url("fonts/fontawesome-webfont.woff") format("woff"),
      url("fonts/fontawesome-webfont.ttf") format("truetype"),
      url("fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  }