// fonts
$body-font: "Open Sans", BlinkMacSystemFont, "Segoe UI", "Helvetica", sans-serif;
$head-font: "matrix-ii", "Palatino Linotype", "Book Antiqua", "Palatino", "Amiri",  serif;
$mono-font: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

// theme color
$theme-navy: #002554;
$theme-blue: #385e9d;
$theme-red: #e74c3c;
$theme-green: #cedc00;
$theme-orange: #e67e22;
$theme-gold: #b3a369;
$theme-white: lighten($black, 99%);
$theme-black: lighten($black, 15%);

