---
---

@import "{{ site.theme }}";

.markdown-body{
    font-family: "Comic Sans MS", sans-serif;
}

body{
    font-family: "Comic Sans MS", sans-serif;
}

.font-body{
    font-family: "Comic Sans MS", sans-serif;
  }
